.timer {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.4em;
    letter-spacing: -1px;
}

.timer span {
    font-size: 2em;
    margin: 0 3px 0 15px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.controls {
    display: flex;
    gap: 10px;
}